html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Poppins', 'DM Sans', 'sans-serif';
  color: #1f1f1f;
}
body {
  background-color: #ffdf1640;
}

a {
  text-decoration: none;
  color: inherit;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}
